{{ "<!-- ENTERING layouts/partials/contact_cta.html -->" | safeHTML }}
<div class="12u">
<div class="row">
  <div class="4u 12u(narrower)">
  <section class="box special">
  <div>
    <h3>{{ $.Page.Params.box_title}}</h3>
  </div>
    <div>
      <ul class="actions">
          <li><a href="{{ $.Page.Params.cta_link }}" class="button special">{{ $.Page.Params.cta }}</a></li>
      </ul>
    </div>
  </section>
  </div>

  <div class="8u 12u(narrower)">
    <span class="image fit"><img src="{{ $.Page.Params.featured_image }}" alt="{{ $.Page.Params.description }}"></span>
  </div>

</div>
</div>
{{ "<!-- LEAVING layouts/partials/contact_cta.html -->" | safeHTML }}
