  <section class="container">
{{ range first 3 (sort (where .Site.Pages ".Params.featured" "urgent") "Params.start_date" "desc") }}

    <section>
      <div class="box special">
        <h3>{{ .Title }}</h3>
        <a href="{{ .Permalink }}"><img src="{{ .Params.featured_image }}" alt=""></a>
        <ul class="actions">
        <li><a href="{{ .Params.cta_link }}" class="button special">{{ .Params.cta }}</a></li>
        </ul>
        {{ .Summary }}
        <div>
          <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        <center style="padding-top:.5em;"><i class="fas fa-angle-double-down"></i></center>
      </div>
    </section>
{{ end }}
  </section>
