<section class="container">
<section id="remoteteambuilding" class="intro" style="height:100vh;">

<div class="box special">
<h3>{{ (.Site.GetPage "remoteteambuildingintro.md").Title }}</h3>
{{ (.Site.GetPage "remoteteambuildingintro.md").Content }}

</div>
<center><a href="#temporarilyclosed"><i class="fas fa-chevron-down"></i></a></center>
</section>
</section>


<section id="temporarilyclosed" class="intro" style="height:100vh;">
<section class="container">
<div class="box special">
<h3>{{ (.Site.GetPage "covid19.md").Title }}</h3>
{{ (.Site.GetPage "covid19.md").Content }}
</div>
<center><a href="#banner">Continue To Main Site <i class="fas fa-chevron-down"></i></a></center>
</section>

  </section>
