<section class="container">
<section id="virtualmatch" class="intro" style="height:100vh;">

<div class="box special">
<h3>{{ (.Site.GetPage "virtualmatch.md").Title }}</h3>
<img src="{{ (.Site.GetPage "virtualmatch.md").Params.featured_image }}" alt="">
<ul class="actions">
  <li><a href="{{ (.Site.GetPage "virtualmatch.md").Params.cta_link }}" class="button special">{{ (.Site.GetPage "virtualmatch.md").Params.cta }}</a></li>
</ul>
{{ .Summary }}
<div>
        <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
</div>
<center><a href="#remoteteambuilding"><i class="fas fa-chevron-down"></i></a></center>
</section>
</section>


<section class="container">
<section id="remoteteambuilding" class="intro" style="height:100vh;">

<div class="box special">
  <h3>{{ (.Site.GetPage "remoteteambuilding.md").Title }}</h3>
  <img src="{{ (.Site.GetPage "remoteteambuilding.md").Params.featured_image }}" alt="">
  <ul class="actions">
    <li><a href="{{ (.Site.GetPage "remoteteambuilding.md").Params.cta_link }}" class="button special">{{ (.Site.GetPage "remoteteambuilding.md").Params.cta }}</a></li>
  </ul>
  {{ .Summary (.Site.GetPage "remoteteambuilding.md").Content }}
</div>
<center><a href="#temporarilyclosed"><i class="fas fa-chevron-down"></i></a></center>
</section>
</section>


<section id="temporarilyclosed" class="intro" style="height:100vh;">
<section class="container">
<div class="box special">
<h3>{{ (.Site.GetPage "covid19.md").Title }}</h3>
{{ (.Site.GetPage "covid19.md").Content }}
</div>
<center><a href="#banner">Continue To Main Site <i class="fas fa-chevron-down"></i></a></center>
</section>

  </section>
