  <section class="container">
{{ range first 3 (sort (where .Site.Pages ".Params.featured" "urgent") "Params.start_date" "desc") }}

    <section>
      <div class="box special">
        <h3>{{ .Title }}</h3>
        <a href="{{ .Permalink }}"><img src="{{ .Params.featured_image }}" alt=""></a>
        {{ if .Params.turkey_tourney }}
          <ul class="actions">
          <li><a href="https://us02web.zoom.us/webinar/register/WN_tmTezthyQ-azukNnzN7qPA" class="button special small" style="margin-top: 15px;">Nov 24 7pm SATX vs DAL</a></li>
          <li><a href="https://us02web.zoom.us/webinar/register/WN_eBruBKnIQ8aVtYmhcEUGTQ" class="button special small" style="margin-top: 15px;">Nov 24 8:30pm HOU vs ATX</a></li>
          <li><a href="https://us02web.zoom.us/webinar/register/WN_3y4wc3tITI-9DvV7pZWf4w" class="button special small" style="margin-top: 15px;">Nov 25 7pm 3rd Place</a></li>
          <li><a href="https://us02web.zoom.us/webinar/register/WN_buHKAvI5RcKbivqCXZF8mg" class="button special small" style="margin-top: 15px;">Nov 25 8:30pm 1st Place</a></li>
          <li><a href="https://cszsa.square.site/donate" class="button special small" style="margin-top: 15px;">Donate to Sponsor our Shows!</a></li>
          </ul>
        {{ else if .Params.summer_camp }}
          <ul class="actions">
          <li><a href="https://cszsa.square.site/product/highschoolcamp/196?cs=true" class="button special">High School Camp</a></li>
          <li><a href="https://cszsa.square.site/product/comedysportz-san-antonio-middle-school-summer-camp-/195?cs=true" class="button special">Middle School Camp</a></li>
          </ul>
        {{ else }}
          <ul class="actions">
          <li><a href="{{ .Params.cta_link }}" class="button special" >{{ .Params.cta }}</a></li>
          </ul>
          {{ end }}
        {{ .Summary }}
        <div>
          <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        <center style="padding-top:.5em;"><i class="fas fa-angle-double-down"></i></center>
      </div>
    </section>
{{ end }}
  </section>
