<!-- If there are shows listed for this player for this month -->
{{ if .Params.shows}}

<!-- establish the range for the shows -->
{{ range $show := .Params.shows }}
{{ range where $.Site.Pages ".Params.show" $show }}
<!-- if the show is in the future -->
{{ $now := now.Format "2006-01-02" }}
{{ $start := (dateFormat "2006-01-02" .Params.show_date) }}
{{ if ge $start $now }}
<p style="margin-bottom:.25em">{{dateFormat "Monday January 2" .Params.show_date}}: <a href="{{ .Permalink }}">Lineup</a> <a href="{{ .Params.ticket_link }} "onclick="trackOutboundLink('{{ .Params.ticket_link | safeHTML }}'); return false;">Buy Tickets</a></p>
{{ else }}
<!-- if the show is in the past -->
<p style="margin-bottom:.25em">{{dateFormat "Monday January 2" .Params.show_date}}: <a href="{{ .Permalink }}">Recap</a></p>
{{ end }}
<!-- End the $.Site.Pages Range -->
{{ end }}
<!-- End the params.shows Range -->
{{ end }}
<!-- If there are not shows listed for this player for this month -->
{{ else }}
<!-- Show a link to other shows -->
<p style="margin-bottom:.25em"><a href="/shows">No shows on the calendar. Check out who else is playing this week</a></p>
{{ end }}
