<center>
<div class="6u 12u(narrower)">
<section class="box special-event">
<h3>Special Events and Announcements</h3>
<p>{{ .Site.Params.special_event.description | markdownify }}</p>
<div>
<ul class="actions">
  {{ range first 2 (sort (where .Site.Pages ".Params.featured" "true") "Params.start_date") }}
        <li><a href="{{ .Permalink }}" class="button special">{{ .Title }}</a></li>
      {{ end }}
  </ul>
<!--
</div>
<hr>
<ul class="actions">
  <li><a href="#newsletter" class="button special">Subscribe To Newsletter</a></li>
</ul>
</section>
</div> -->

</center>
