{{ "<!-- ENTERING layouts/partials/special_content.html -->" | safeHTML }}
<div class="12u">
<div class="row">
  {{ with $.Page.Params.start_date }}
{{ $start := (dateFormat "2006-01-02" . ) }}
{{ $now := now.Format "2006-01-02" }}
{{ if ge $start $now }}
  <div class="4u 12u(narrower)">
  <section class="box special">
  <div>
    <h3>{{ $.Page.Params.box_title}}</h3>
    {{ with $.Page.Params.start_date }}
<p><b>{{ dateFormat "3:04 PM Monday, January 2nd, 2006" . }}</b></p>
    {{ end }}
  </div>
    <div>
      <ul class="actions">
          <li><a href="{{ $.Page.Params.cta_link }}" class="button special" onclick="trackOutboundLink('{{ $.Page.Params.cta_link | safeHTML }}'); return false;" >{{ $.Page.Params.cta }}</a></li>
      </ul>

    </div>
  </section>
  </div>
  {{ end }}
  {{ end }}
  <div class="8u 12u(narrower)">
    <span class="image fit"><img src="{{ $.Page.Params.featured_image }}" alt="{{ $.Page.Params.description }}"></span>
  </div>

</div>
</div>
{{ "<!-- LEAVING layouts/partials/special_content.html -->" | safeHTML }}
