<div id="google-reviews"></div>

<link rel="stylesheet" href="/css/google-places.css">
<script src="https://cdn.rawgit.com/stevenmonson/googleReviews/6e8f0d79/google-places.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDnQG7ku7QmpeGFs-jM-8MRGC-Gq8_IKS8&libraries=places"></script>

<script>
jQuery(document).ready(function( $ ) {
   $("#google-reviews").googlePlaces({
        placeId: 'ChIJh87zC4ZoXIYRFRruuxj8qAY' //Find placeID @: https://developers.google.com/places/place-id
      , render: ['reviews']
      , min_rating: 5
      , max_rows:5
   });
});
</script>
