<p>Come see our family friendly matches at 7:30 PM every Friday and Saturday night at Studio 185 | 11950 Starcrest Dr #210, San Antonio, TX 78247.</p>

<p><a target="_blank" href="https://cszsanantonio.vbotickets.com/event/ComedySportz_Main_Event/10273" class="button special">Buy Tickets</a></p>

<p>Check out the next generation of ComedySportz San Antonio All Stars with our Minor League matches every Sunday at 6:00 PM!</p>

<p><a target="_blank" href="https://cszsanantonio.vbotickets.com/event/ComedySportz_Minor_League/26699" class="button special">Buy Tickets</a></p>

<p>And don&rsquo;t miss our After Dark late night shows every Saturday at 10:00 PM. <strong>This show may not follow our family friendly format.</strong></p>

<p><a target="_blank" href="https://cszsanantonio.vbotickets.com/event/Nights_at_the_Asylum/17152" class="button special">Buy Tickets</a></p>
