{{ "<!-- ENTERING layouts/partials/special_class.html -->" | safeHTML }}
<div>
<p>Get your tickets now for one of our upcoming events:</p></br>
<a target="_blank" rel="noopener" href="https://squareup.com/store/CSz-SanAntonio" class="button">Upcoming Shows</a>
  <hr>
<h3>Improv Classes Starting Soon:</h3>
<p>{{ .Site.Params.class_description }} Reserve your spot today!</p>
<p>{{ range $class := .Site.Params.special_class }}
{{ if isset $.Site.Data.classes $class }}
{{ $p :=  (index $.Site.Data.classes $class) }}
<a target="_blank" rel="noopener" href="{{ $p.Link }}" class="button">{{ $p.Class_Name }}</a>
{{ end }}
{{ end }}</p>
</div>
{{ "<!-- LEAVING layouts/partials/special_class.html -->" | safeHTML }}
