{{ "<!-- ENTERING layouts/partials/featured.html -->" | safeHTML }}
<h3>Purchase Tickets:</h3>
<p>{{ range $show := .Site.Params.featured_show }}
{{ if isset $.Site.Data.shows $show }}
{{ $p :=  (index $.Site.Data.shows $show) }}
<a target="_blank" href="{{ $p.TicketLink }}" class="button special">{{ $p.CTAText }}</a>
{{ end }}
{{ end }}</p>
<HR>
{{ $show := index $.Site.Data.shows "fathersday" }}
<div>
 <h2>Special Event: {{ $show.ShowTitle }} </br>{{ $show.ShowDate }}</h2>
 <p>{{ $show.Description | markdownify }}</p>
</br>
<a target="_blank" href={{ (index .Site.Data.shows .Site.Params.special_event).TicketLink }} class="button special">{{ $show.CTAText }}</a></br></br>
</div>
{{ "<!-- LEAVING layouts/partials/featured.html -->" | safeHTML }}
