{{ "<!-- ENTERING layouts/partials/featured.html -->" | safeHTML }}
<div>
<p>Get your tickets now:</p>
<p>{{ range $show := .Site.Params.featured_show }}
{{ if isset $.Site.Data.shows $show }}
{{ $p :=  (index $.Site.Data.shows $show) }}
<a target="_blank" href="{{ $p.TicketLink }}" class="button special"><i class="icon fa-ticket"></i> {{ $p.CTAText }}</a>
{{ end }}
{{ end }}</p>
</div>
<div>
<h3>Improv Classes Starting Soon:</h3>
<p>{{ .Site.Params.class_description }} Reserve your spot today!</p>
<p>{{ range $class := .Site.Params.special_class }}
{{ if isset $.Site.Data.classes $class }}
{{ $p :=  (index $.Site.Data.classes $class) }}
<a target="_blank" href="{{ $p.Link }}" class="button special">{{ $p.Class_Name }}</a>
{{ end }}
{{ end }}</p>
</div>
{{ "<!-- LEAVING layouts/partials/featured.html -->" | safeHTML }}
