<ul class="actions">

    <li><a href="https://squareup.com/store/CSz-SanAntonio/item/improv-royale-single-show" onclick="trackOutboundLink('https://squareup.com/store/CSz-SanAntonio/item/improv-royale-single-show'); return false;" class="button special">$10 Single Show Tickets</a></li>
    <li><a href="https://squareup.com/store/CSz-SanAntonio/item/improv-royale-show-pass" onclick="trackOutboundLink('https://squareup.com/store/CSz-SanAntonio/item/improv-royale-show-pass'); return false;" class="button special">$18 2 Shows Tickets</a></li>
    <li><a href="https://squareup.com/store/CSz-SanAntonio/item/vip-show-pass" onclick="trackOutboundLink('https://squareup.com/store/CSz-SanAntonio/item/vip-show-pass'); return false;" class="button special">$25 VIP All Shows Pass</a></li>
</ul>
