<!-- Begin Player Directory -->
<div class="row">
{{ range $i, $player := sort .Site.Data.players "LastName" }}
  <div class="4u 12u(narrower)">
    <section class="box special">
    <h4><a style="border-bottom:none" href="/team/{{ $player.PlayerPage}}"># {{ $player.Number | safeHTML }} {{ $player.FirstName }} <i>"{{ $player.Nickname }}"</i> {{ $player.LastName }}</a></h4>
    <a style="border-bottom:none" href="/team/{{ $player.PlayerPage}}"><img alt = "{{ $player.FullName }}" src = "/images/players/{{$player.Photo}}.jpg" class="img-responsive" width = "120px"></a>
    </section>
  </div>


{{ end }}
</div>
<!-- End Player Directory -->
